---
import Layout from "../layouts/Layout.astro";
import TheHeader from "../components/TheHeader.astro";
// import Card from '../components/Card.astro';
---

<Layout >
	<main>
		<TheHeader />
	</main>
</Layout>
